
<div class="container text-center" style="margin-top: 80px">
  <% if @course.public_status == false  %>
  <h3>We're sorry but this course is private </h3>

  <% else %>

  <div class="course-content">
  <h1><%= @course.name %></h1>

  <% if @course.contents.empty? %>

    <p>This course does not have any content yet!</p>

  <% else %>

    <% @course.contents.each do |content| %>

    <div class='course-content-body'>
      <h3>Name: <%= content.name%></h3>
      <p>Description: <%= content.description %></p>
      <% if content.video_link.nil? %>
        <p><%= video_tag content.video, :size => "320x240", :controls => true   %></p>
      <% else %>
      <% c = Conred::Video.new(
      video_url: content.video_link,
      width: 285,
      height: 185,
      error_message: "Video url is invalid"
      ) %>
        <p><%= c.code.html_safe %></p>
      <% end %>
    <% end %>

    </div>

  <% end %>
  </div>
<% end %>
</div>

