<div class="container text-center" style="margin-top: 80px">
  <h1>Your Courses</h1>

  <% if @courses.empty? %>

    <p>This course does not have any content yet!</p>

  <% else %>

  <% @courses.each do |course| %>

    <div class='course-body'>
      <% if !current_publisher.nil? %>
      <h3>Course: <%= link_to course.name, course_content_path(publisher_id: course.publisher_id,course_slug: course.slug) %></h3>
      <% elsif !current_student.nil? %>
      <h3>Course: <%= link_to course.name, student_course_contents_path(publisher_id: course.publisher_id,course_slug: course.slug) %></h3>
      <p>Publisher: <%= Publisher.find(course.publisher_id).email %></p>
      <% end %>
      <p>Description: <%= course.description %></p>
    </div>
  <% end %>
<% end %>

  <% if !current_publisher.nil?  %>
  <%= link_to 'Add a new course', new_publisher_course_path, class: "btn btn-primary" %>
  <% end %>

</div>
